* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.toast-box {
  top: 48px;
  left: 77%;
}

header {
  height: 48px;
  background-color: #f8f9fa;
  box-shadow: 0 10px 20px #00000026;
}

header .add-user-logo {
  height: 48px;
  width: 17%;
  position: relative;
  border-right: 2px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 15px 15px #00000026;
}

header .add-user-logo img {
  position: absolute;
  top: 15px;
  left: 15px;
}

.user-content {
  display: flex;
}

.user-content .side-bar {
  width: 17%;
  height: calc(100vh - 48px);
  background-color: #f8f9fa;
  padding-top: 40px;
  border-right: #c7c9cb 2px solid;
  border-bottom: #c7c9cb 2px solid;
}

.user-content .side-bar h2 {
  color: #212529bf;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  padding-left: 15px;
}

.user-content .side-bar .dashboard-element {
  text-decoration: none;
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #0d6efd;
  font-weight: bold;
  padding-left: 15px;
  font-size: 14px;
}

.user-content .side-bar .sign-out {
  border-top: 1px solid #c7c9cb;
  margin-top: 10px;
}

.article {
  width: 83%;
  padding: 25px;
}

.article .article-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 25px;
  border-bottom: 1px solid #dee2e6;
}

.article .article-title h2 {
  font-size: 24px;
}

.article .article-title i {
  font-size: 24px;
}

.article h3 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 20px;
}

.article .add-info {
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 40px;
}

.article .add-info .add-info-text {
  width: calc((100% - 40px) / 2);
}

.article .add-info label {
  font-weight: bold;
}

.article .add-info input {
  height: 45px;
  margin-top: 10px;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
  padding: 10px;
}

.article .add-info .add-info-text input {
  width: 100%;
}

.article .add-info .add-info-select #role {
  height: 45px;
  width: 250px;
  margin-top: 10px;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
  padding: 10px;
}

.article .add-info .add-info-dob input {
  width: 255px;
}

.article .add-info .add-info-status .status-group {
  margin-top: 10px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.article .add-info .add-info-status .status-group .status {
  display: flex;
  gap: 10px;
  align-items: center;
}

.article .add-info .add-info-status .status-group .status input {
  margin: 0;
  width: 16px;
}

.article .add-info .add-input-area {
  width: 100%;
}

.article .add-info .add-input-area #description {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #d0d5dd;
  box-shadow: 0 1px 2px #1018280d;
  border-radius: 8px;
  padding: 10px;
}

.article .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0px 25px 30px 25px;
}

.article .buttons .button {
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.article .buttons .back-button {
  border: 1px solid #e4e4e7;
  color: #18181b;
  background-color: #fff;
  text-decoration: none;
}

.article .buttons .add-button {
  color: #fff;
  background-color: #007aff;
  border: none;
}
